body {
  margin: 2;
}


.col_label{
  display: inline-block;
  width: 120px;
}

.code_form {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
  width: 500px;
  height: 300px;
  border: 2px solid rgb(12, 1, 1); 
  vertical-align:middle;
}


.columns {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
  width: 150px;
  height: 400px;
  border: 2px solid rgb(12, 1, 1);
  vertical-align:middle;
}

.calendar{
  white-space:nowrap;
  display:inline
}


nav ul{
  list-style: none;
  display: inline;
}

nav li{
  padding-right: 50px;
  display: inline-block;
}